<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Edvi - Education HTML Template" >
    <meta name="description" content="Edvi - Education HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.rtl.min.css' %}" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}" />
    <!-- Fontawsome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon.css' %}" />
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- Dark CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dark.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}" />
    <!-- baner-page CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/baner.css' %}" />

    <title>هنرستان سمپاد امیر کبیر مشهد</title>

    <link rel="icon" type="image/png" href="{% static 'assets/images/amir/fav.png' %}">
</head>


<body>
    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="{% static 'assets/images/amir/log.png' %}" class="main-logo" alt="logo"/><img src="{% static 'assets/images/amir/log.png' %}" class="white-logo" alt="logo"/>
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'assets/images/amir/log.png' %}" class="main-logo" alt="logo"/><img src="{% static 'assets/images/amir/log.png' %}" class="white-logo" alt="logo"/>
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">خانه</a>
                            </li>
                            <li class="nav-item">
                                <a href="about.html" class="nav-link active">درباره ما</a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start Page Title Area -->
    <a>
        <div class="cover-container">
            <img src="{% static 'assets/images/bg-page/01.jpg' %}" alt="کاور" class="cover-image">
        </div>
    </a>
    <!-- End Page Title Area -->

    <!-- About Area -->
    <section class="about-area">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="single-about">
                        

                        <div class="about-contnet">
                            <h2>چرا باید هنرستان سمپاد امیرکبیر را انتخاب کنیم؟</h2>
                            <p>
                                هنرستان سمپاد امیرکبیر یکی از مراکز آموزشی تیزهوشان است که برای دانش آموزان مستعد و خلاق است که با تمرکز بر علوم فنی و حرفه ای، زمینه ساز پرورش نخبگان آینده ایران می شود. این هنرستان با بهره گیری از کادر آموزشی مجرب و برنامه های درسی پیشرفته، فرصتهای بینظیری برای یادگیری عمیق و پژوه محور فراهم میکند. امکانات مدرن، کارگاههای تخصصی و ارتباط با مراکز علمی معتبر، از ویژگیهای برجسته این هنرستان است. هنرستان سمپاد امیرکبیر با تأکید بر اخلاق علمی و روحیه پرسشگری، میکوشد نسلی توانمند و متعهد برای چالشهای فردا تربیت کند.
                                 هنرستان سمپاد امیرکبیر با برگزاری مسابقات علمی، کارگاه های مهارت آموزی و همکاری با صنایع پیشرو، بستری ایده آل برای رشد عملی دانش آموزان فراهم می سازد. برنامه های فوق برنامه مانند المپیادهای تخصصی و پروژه های نوآورانه، روحیه کارآفرینی و خلاقیت را در دانش آموزان تقویت میکند. هنرستان سمپاد امیرکبیر با چشم اندازی روشن، گام های استوارتری برای تحقق رسالت آموزشی خود در ترسیم آیندهای درخشان برمیدارد.
                            </p>
                        </div>
                        <div class="about-btn">
                            <a href="https://www.aparat.com/video/video/embed/videohash/p26fz94/vt/frame" class="video-pop">
                                <span class="video"> <i class="fa fa-play"></i> </span> مشاهده ویدئو
                            </a>
                        </div>
                    </div>
                </div>

             

   

    <!-- Teachers Area -->
    <section class="home-teachers-area pt-100">
        <div class="container">
            <div class="section-tittle text-center">
                <h2>کادر اجرائی</h2>
               
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'assets/images/amir/05/1.jpg' %}" alt="teacher" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>محمد بهمدی</h2>
                            <p>مدیر هنرستان</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'assets/images/amir/05/2.jpg' %}" alt="teacher" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>حسن نصرآبادی</h2>
                            <p>معاون فنی هنرستان</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'assets/images/amir/05/3.jpg' %}" alt="teacher" /></a>
                        </div>
                        <div class="teachers-content">
                            <h2>محمود جوازی</h2>
                            <p>معاون آموزشی هنرستان</p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-home-teacher">
                        <div class="teacher-img">
                            <a href="single-teacher.html">
                                <img src="{% static 'assets/images/amir/05/4.jpg' %}" alt="teacher" /></a>

                        </div>
                        <div class="teachers-content">
                            <h2>مهدی مرجانزاده</h2>
                            <p>معاون پرورشی هنرستان</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Teachers Area -->
     <!-- Footer Area -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-left">
                    <a href="index.html" class="logo"><img src="{% static 'assets/images/amir/log1.png' %}" alt="logo" /></a>
                    <p>
                        لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.
                    </p>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-25">
                    <h2>مدرسه</h2>
                    <ul>
                        <li>
                            <a href="teachers.html"><i class="flaticon-left-arrow"></i> کادر اجرائی</a>
                        </li>
                        <li>
                            <a href="contact.html"><i class="flaticon-left-arrow"></i> تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-content fml-15">
                    <h2>لینکهای سریع</h2>
                    <ul>
                        <li>
                            <a href="index.html"><i class="flaticon-left-arrow"></i> صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="about.html"><i class="flaticon-left-arrow"></i> درباره ما</a>
                        </li>
                        <li>
                            <a href="classes.html"><i class="flaticon-left-arrow"></i> کلاس ها</a>
                        </li>
                        <li>
                            <a href="events.html"><i class="flaticon-left-arrow"></i> دوره ها</a>
                        </li>
                        <li>
                            <a href="news.html"><i class="flaticon-left-arrow"></i> اخبار ها</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-15 fml-20">
                    <h2>تماس بگیرید</h2>
                    <ul>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 12345678-021</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> فکس: 12345678-021</a>
                        </li>
                        <li>
                            <a href="#">hello@edvi.com <i class="flaticon-left-arrow"></i></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="flaticon-left-arrow"></i> ایران ، مشهد ، بلوار معلم ، معلم53 ،قائم مقام فراهانی 31
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->

<!-- Copy Area -->
<div class="copy-area">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="copy">
                    <p> تمام حقوق برای هنرستان امیر کبیر محفوظ است. طراحی و توسعه توسط تیم هنرجویی golden team <a href="#" target="_blank"></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copy Area -->

<!-- Scroll top -->
<a href="#" class="scroll-top wow bounceInDown">
    <i class="fas fa-angle-double-up"></i>
</a>

<!-- JavaScript Files -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- Boostrap Js  -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!-- MeanMenu JS -->
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Owl carasol Js -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- Wow js -->
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<!-- Isotope Js -->
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<!-- Form Validator Js  -->
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<!-- Contact Form Js -->
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<!-- Main js -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>