<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Edvi - Education HTML Template" >
    <meta name="description" content="Edvi - Education HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.rtl.min.css' %}" />
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}" />
    <!-- Fontawsome CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon.css' %}" />
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}" />
    <!-- baner-page CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/baner.css' %}" />


    <title>هنرستان سمپاد امیر کبیر مشهد</title>

    <link rel="icon" type="image/png" href="{% static 'assets/images/amir/fav.png' %}">
</head>


<body>
    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="assets/images/amir/log.png" class="main-logo" alt="logo"/><img src="assets/images/amir/log.png" class="white-logo" alt="logo"/>
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/amir/log.png" class="main-logo" alt="logo"/><img src="assets/images/amir/log.png" class="white-logo" alt="logo"/>
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">خانه</a>
                            </li>
                           
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">کادر هنرستان</a>
                              
                            </li>
                         
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start Page Title Area -->
    <a>
        <div class="cover-container">
            <img src="assets/images/bg-page/کادر اجرائی.jpg" alt="کاور" class="cover-image">
        </div>
    </a>
    <!-- End Page Title Area -->


   <!-- Teachers -->
   <section class="teachers-area">
    <div class="container">
    <div class="row">
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/1.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>مهندس محمد بهمدی</h2>
    <p>مدیریت هنرستان</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/2.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>مهندس حسن نصرابادی</h2>
    <p>معاونت فنی هنرستان</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/3.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2> محمود جوازی طرقی   ض</h2>
    <p>معاونت آموزشی هنرستان</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/4.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>دکتر مهدی مرجانزاده</h2>
    <p>معاونت پرورشی هنرستان</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/5.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>دکتر مهدی صالحی</h2>
    <p>معاونت اجرائی هنرستان</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/6.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>مهندس علی معین</h2>
    <p>سرپرست بخش کارگاه ها</p>
    </div>
    </div>
    </div>
 <div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
    <div class="teacher-img">
    <a href="single-teacher.html">
    <img src="assets/images/amir/05/7.jpg" alt="teacher" /></a>
    </div>
    <div class="teachers-content">
    <h2>علی مکتب دار</h2>
    <p>نیروی خدمات هنرستان</p>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    </section>
        <!-- End Teachers  -->



    <!-- Footer Area -->
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-left">
                        <a href="index.html" class="logo"><img src="assets/images/amir/log1.png" alt="logo" /></a>
                       
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <div class="footer-content fml-25">
                        <h2>مدرسه</h2>
                        <ul>
                        </li>
                            <li>
                                <a href="teachers.html"><i class="flaticon-left-arrow"></i> کادر اجرائی</a>
                            </li>
                            <li>
                                <a href="contact.html"><i class="flaticon-left-arrow"></i> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-content fml-15">
                        <h2>لینکهای سریع</h2>
                        <ul>
                            <li>
                                <a href="index.html"><i class="flaticon-left-arrow"></i> صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="about.html"><i class="flaticon-left-arrow"></i> درباره ما</a>
                            </li>
                            <li>
                                <a href="classes.html"><i class="flaticon-left-arrow"></i> کلاس ها</a>
                            </li>
                            <li>
                                <a href="events.html"><i class="flaticon-left-arrow"></i> دوره ها</a>
                            </li>
                            <li>
                                <a href="news.html"><i class="flaticon-left-arrow"></i> اخبار ها</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-content fml-15 fml-20">
                        <h2>تماس بگیرید</h2>
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-left-arrow"></i> فکس: 12345678-021</a>
                            </li>
                            <li>
                                <a href="#">hello@edvi.com <i class="flaticon-left-arrow"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="flaticon-left-arrow"></i> ایران ، مشهد ، بلوار معلم ، معلم53 ،قائم مقام فراهانی 31
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->

    <!-- Copy Area -->
    <div class="copy-area">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="copy">
                        <p> تمام حقوق برای هنرستان امیر کبیر  محفوظ است. طراحی و توسعه توسط <a href="#" target="_blank">تیم هنرجویی golden team    </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Area -->

    <!-- Scroll top -->
    <a href="#" class="scroll-top wow bounceInDown">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <script src="assets/js/jquery.min.js"></script>
    <!-- Boostrap Js  -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- MeanMenu JS -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Owl carasol Js -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Wow js -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Isotope Js -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- Form Validator Js  -->
    <script src="assets/js/form-validator.min.js"></script>
    <!-- Contact Form Js -->
    <script src="assets/js/contact-form-script.js"></script>
    <!-- Main js -->
    <script src="assets/js/main.js"></script>
</body>

</html>





<!--


<div class="col-lg-3 col-sm-6">
    <div class="single-teacher">
        <div class="teacher-img">
            <a href="single-teacher.html">
                <img src="assets/images/amir/05/7.jpg" alt="teacher" /></a>
            </div>
            <div class="teachers-content">
                <h2>علی مکتبدار</h2>
                <p>نیروی خدمات هنرستان</p>
            </div>
    </div>
</div>
</div>
-->